In [1]:
import pandas as pd
import numpy as np

In [2]:
pathPagamentoPedido = '../../data/pagamento_pedido.csv'
pathPedido = '../../data/pedido.csv'

In [5]:
pagamentos = pd.read_csv(pathPagamentoPedido)
pedido = pd.read_csv(pathPedido)

In [6]:
pagamentos.head(15)

,idPedido,idPagamentoPedido,descTipoPagamento,nrParcelas,vlPagamento
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
5,298fcdf1f73eb413e4d26d01b25bc1cd,1,credit_card,2,96.12
6,771ee386b001f06208a7419e4fc1bbd7,1,credit_card,1,81.16
7,3d7239c394a212faae122962df514ac7,1,credit_card,3,51.84
8,1f78449c87a54faf9e96e88ba1491fa9,1,credit_card,6,341.09
9,0573b5e23cbd798006520e1d5b4c6714,1,boleto,1,51.95
10,d88e0d5fa41661ce03cf6cf336527646,1,credit_card,8,188.73
11,2480f727e869fdeb397244a21b721b67,1,credit_card,1,141.90
12,616105c9352a9668c38303ad44e056cd,1,credit_card,1,75.78
13,cf95215a722f3ebf29e6bbab87a29e61,1,credit_card,5,102.66
14,769214176682788a92801d8907fa1b40,1,credit_card,4,105.28

In [7]:
pagamentos = pagamentos.rename(columns={'order_id': 'idPedido', 'payment_sequential': 'idPagamentoPedido', 
                                       'payment_type': 'descTipoPagamento', 'payment_installments': 'nrParcelas',
                                       'payment_value': 'vlPagamento'})

In [9]:
pagamentos.to_csv(pathPagamentoPedido, index = False, encoding = 'utf-8')

In [10]:
pedido.head()

,idPedido,idCliente,descSituacao,dtPedido,dtAprovado,dtEnvio,dtEntrega,dtEntregaEstimada
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [11]:
pedido = pedido.rename(columns={'order_id': 'idPedido', 'customer_id': 'idCliente', 'order_status': 'descSituacao',
                                'order_purchase_timestamp': 'dtPedido', 'order_approved_at': 'dtAprovado',
                                'order_delivered_carrier_date': 'dtEnvio', 'order_delivered_customer_date': 'dtEntrega',
                                'order_estimated_delivery_date': 'dtEntregaEstimada'})

In [12]:
pedido.to_csv(pathPedido, index = False, encoding = 'utf-8')

In [13]:
pedido['dtPedido'] = pd.to_datetime(pedido['dtPedido']).dt.date

In [14]:
pedido[['dtPedido', 'dtAprovado', 'dtEnvio', 'dtEntrega', 'dtEntregaEstimada']].head()

,dtPedido,dtAprovado,dtEnvio,dtEntrega,dtEntregaEstimada
0,2017-10-02,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,2018-07-24,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,2018-08-08,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,2017-11-18,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,2018-02-13,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [16]:
dtPedido = pedido.groupby('dtPedido')['dtPedido'].count()

In [17]:
dtPedido.head()

dtPedido
2016-09-04    1
2016-09-05    1
2016-09-13    1
2016-09-15    1
2016-10-02    1
Name: dtPedido, dtype: int64