In [1]:
import pandas as pd
import numpy as np

In [2]:
dfNba = pd.read_csv("data/nba_stats.csv")

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
dfNba.head()

,year,name,playerId,playerSlug,positionId,teamId,status,gamesPlayed,avgMinutes,avgFouls,flagrantFouls,technicalFouls,ejections,doubleDouble,tripleDouble,minutes,rebounds,fouls,avgRebounds,avgPoints,avgFieldGoalsMade,avgFieldGoalsAttempted,fieldGoalPct,avgThreePointFieldGoalsMade,avgThreePointFieldGoalsAttempted,threePointFieldGoalPct,avgFreeThrowsMade,avgFreeThrowsAttempted,freeThrowPct,avgAssists,avgTurnovers,points,fieldGoalsMade,fieldGoalsAttempted,threePointFieldGoalsMade,threePointFieldGoalsAttempted,freeThrowsMade,freeThrowsAttempted,assists,turnovers,avgSteals,avgBlocks,steals,blocks,position,birthdate,college,draftinfo,birthplace,team,experience,rankingSalary,salary,weight,height
0,1999,Allen Iverson,366,allen-iverson,SG,PHI,inactive,48.0,41.458332,2.041667,0.0,5.0,0.0,4.0,0.0,1990.0,236.0,98.0,4.916666,26.750000,9.062500,22.000000,41.193001,1.208333,4.145834,29.145730,7.416666,9.875000,75.105003,4.645834,3.479167,1284.0,435.0,1056.0,58.0,199.0,356.0,474.0,223.0,167.0,2.291667,0.145833,110.0,7.0,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,15,"$9,000,000",NaN,NaN
1,2000,Allen Iverson,366,allen-iverson,SG,PHI,inactive,70.0,40.757140,2.314286,0.0,12.0,0.0,1.0,0.0,2853.0,267.0,162.0,3.814286,28.414286,10.414286,24.757143,42.066002,1.271429,3.728571,34.099618,6.314286,8.857142,71.290001,4.685714,3.285714,1989.0,729.0,1733.0,89.0,261.0,442.0,620.0,328.0,230.0,2.057143,0.071429,144.0,5.0,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,27,"$10,125,000",NaN,NaN
2,2001,Allen Iverson,366,allen-iverson,SG,PHI,inactive,71.0,41.957745,2.070423,0.0,18.0,0.0,4.0,0.0,2979.0,273.0,147.0,3.845070,31.084507,10.732394,25.535212,42.029999,1.380282,4.309859,32.026145,8.239436,10.126760,81.362999,4.577465,3.338028,2207.0,762.0,1813.0,98.0,306.0,585.0,719.0,325.0,237.0,2.507042,0.281690,178.0,20.0,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,17,"$11,250,000",NaN,NaN
3,2002,Allen Iverson,366,allen-iverson,SG,PHI,inactive,60.0,43.700000,1.700000,0.0,12.0,1.0,4.0,1.0,2622.0,269.0,102.0,4.483333,31.383333,11.083333,27.816668,39.844002,1.300000,4.466667,29.104477,7.916666,9.750000,81.196999,5.516667,3.950000,1883.0,665.0,1669.0,78.0,268.0,475.0,585.0,331.0,237.0,2.800000,0.216667,168.0,13.0,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,14,"$12,375,000",NaN,NaN
4,2003,Allen Iverson,366,allen-iverson,SG,PHI,inactive,82.0,42.500000,1.817073,0.0,8.0,0.0,6.0,0.0,3485.0,344.0,149.0,4.195122,27.585365,9.804878,23.658537,41.443001,1.024390,3.695122,27.722773,6.951220,8.975610,77.445999,5.536585,3.487805,2262.0,804.0,1940.0,84.0,303.0,570.0,736.0,454.0,286.0,2.743902,0.158537,225.0,13.0,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,11,"$13,500,000",NaN,NaN

In [5]:
dfLimpo = dfNba.copy()

In [6]:
dfLimpo['salary'] = dfLimpo['salary'].astype(str).str.replace(r'\$|,', '', regex = True).astype(np.float64)

In [7]:
dfLimpo.head()

,year,name,playerId,playerSlug,positionId,teamId,status,gamesPlayed,avgMinutes,avgFouls,flagrantFouls,technicalFouls,ejections,doubleDouble,tripleDouble,minutes,rebounds,fouls,avgRebounds,avgPoints,avgFieldGoalsMade,avgFieldGoalsAttempted,fieldGoalPct,avgThreePointFieldGoalsMade,avgThreePointFieldGoalsAttempted,threePointFieldGoalPct,avgFreeThrowsMade,avgFreeThrowsAttempted,freeThrowPct,avgAssists,avgTurnovers,points,fieldGoalsMade,fieldGoalsAttempted,threePointFieldGoalsMade,threePointFieldGoalsAttempted,freeThrowsMade,freeThrowsAttempted,assists,turnovers,avgSteals,avgBlocks,steals,blocks,position,birthdate,college,draftinfo,birthplace,team,experience,rankingSalary,salary,weight,height
0,1999,Allen Iverson,366,allen-iverson,SG,PHI,inactive,48.0,41.458332,2.041667,0.0,5.0,0.0,4.0,0.0,1990.0,236.0,98.0,4.916666,26.750000,9.062500,22.000000,41.193001,1.208333,4.145834,29.145730,7.416666,9.875000,75.105003,4.645834,3.479167,1284.0,435.0,1056.0,58.0,199.0,356.0,474.0,223.0,167.0,2.291667,0.145833,110.0,7.0,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,15,9000000.0,NaN,NaN
1,2000,Allen Iverson,366,allen-iverson,SG,PHI,inactive,70.0,40.757140,2.314286,0.0,12.0,0.0,1.0,0.0,2853.0,267.0,162.0,3.814286,28.414286,10.414286,24.757143,42.066002,1.271429,3.728571,34.099618,6.314286,8.857142,71.290001,4.685714,3.285714,1989.0,729.0,1733.0,89.0,261.0,442.0,620.0,328.0,230.0,2.057143,0.071429,144.0,5.0,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,27,10125000.0,NaN,NaN
2,2001,Allen Iverson,366,allen-iverson,SG,PHI,inactive,71.0,41.957745,2.070423,0.0,18.0,0.0,4.0,0.0,2979.0,273.0,147.0,3.845070,31.084507,10.732394,25.535212,42.029999,1.380282,4.309859,32.026145,8.239436,10.126760,81.362999,4.577465,3.338028,2207.0,762.0,1813.0,98.0,306.0,585.0,719.0,325.0,237.0,2.507042,0.281690,178.0,20.0,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,17,11250000.0,NaN,NaN
3,2002,Allen Iverson,366,allen-iverson,SG,PHI,inactive,60.0,43.700000,1.700000,0.0,12.0,1.0,4.0,1.0,2622.0,269.0,102.0,4.483333,31.383333,11.083333,27.816668,39.844002,1.300000,4.466667,29.104477,7.916666,9.750000,81.196999,5.516667,3.950000,1883.0,665.0,1669.0,78.0,268.0,475.0,585.0,331.0,237.0,2.800000,0.216667,168.0,13.0,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,14,12375000.0,NaN,NaN
4,2003,Allen Iverson,366,allen-iverson,SG,PHI,inactive,82.0,42.500000,1.817073,0.0,8.0,0.0,6.0,0.0,3485.0,344.0,149.0,4.195122,27.585365,9.804878,23.658537,41.443001,1.024390,3.695122,27.722773,6.951220,8.975610,77.445999,5.536585,3.487805,2262.0,804.0,1940.0,84.0,303.0,570.0,736.0,454.0,286.0,2.743902,0.158537,225.0,13.0,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,11,13500000.0,NaN,NaN

In [8]:
dfLimpo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8162 entries, 0 to 8161
Data columns (total 55 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   year                              8162 non-null   int64
 1   name                              8162 non-null   object
 2   playerId                          8162 non-null   int64
 3   playerSlug                        8162 non-null   object
 4   positionId                        8156 non-null   object
 5   teamId                            8162 non-null   object
 6   status                            8162 non-null   object
 7   gamesPlayed                       8162 non-null   float64
 8   avgMinutes                        8162 non-null   float64
 9   avgFouls                          8162 non-null   float64
 10  flagrantFouls                     8162 non-null   float64
 11  technicalFouls                    8162 non-null   float64
 12  ejections                         8162 non-null   float64
 13  doubleDouble                      8162 non-null   float64
 14  tripleDouble                      8162 non-null   float64
 15  minutes                           8162 non-null   float64
 16  rebounds                          8162 non-null   float64
 17  fouls                             8162 non-null   float64
 18  avgRebounds                       8162 non-null   float64
 19  avgPoints                         8162 non-null   float64
 20  avgFieldGoalsMade                 8162 non-null   float64
 21  avgFieldGoalsAttempted            8162 non-null   float64
 22  fieldGoalPct                      8162 non-null   float64
 23  avgThreePointFieldGoalsMade       8162 non-null   float64
 24  avgThreePointFieldGoalsAttempted  8162 non-null   float64
 25  threePointFieldGoalPct            8162 non-null   float64
 26  avgFreeThrowsMade                 8162 non-null   float64
 27  avgFreeThrowsAttempted            8162 non-null   float64
 28  freeThrowPct                      8162 non-null   float64
 29  avgAssists                        8162 non-null   float64
 30  avgTurnovers                      8162 non-null   float64
 31  points                            8162 non-null   float64
 32  fieldGoalsMade                    8162 non-null   float64
 33  fieldGoalsAttempted               8162 non-null   float64
 34  threePointFieldGoalsMade          8162 non-null   float64
 35  threePointFieldGoalsAttempted     8162 non-null   float64
 36  freeThrowsMade                    8162 non-null   float64
 37  freeThrowsAttempted               8162 non-null   float64
 38  assists                           8162 non-null   float64
 39  turnovers                         8162 non-null   float64
 40  avgSteals                         8162 non-null   float64
 41  avgBlocks                         8162 non-null   float64
 42  steals                            8162 non-null   float64
 43  blocks                            8162 non-null   float64
 44  position                          8162 non-null   object
 45  birthdate                         8162 non-null   object
 46  college                           6750 non-null   object
 47  draftinfo                         6977 non-null   object
 48  birthplace                        7947 non-null   object
 49  team                              2304 non-null   object
 50  experience                        2304 non-null   object
 51  rankingSalary                     8162 non-null   int64
 52  salary                            8162 non-null   float64
 53  weight                            2304 non-null   object
 54  height                            2304 non-null   object
dtypes: float64(38), int64(3), object(14)
memory usage: 3.4+ MB

# Variáveis categóricas

In [9]:
col_cat = [
    'year',
    'name',
    'playerId',
    'playerSlug',
    'positionId',
    'teamId',
    'status',
    'position',
    'birthdate',
    'college',
    'draftinfo',
    'birthplace',
    'team',
    'experience',
    'rankingSalary',
    'weight',
    'height'
]

In [10]:
dfLimpo[col_cat].head()

,year,name,playerId,playerSlug,positionId,teamId,status,position,birthdate,college,draftinfo,birthplace,team,experience,rankingSalary,weight,height
0,1999,Allen Iverson,366,allen-iverson,SG,PHI,inactive,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,15,NaN,NaN
1,2000,Allen Iverson,366,allen-iverson,SG,PHI,inactive,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,27,NaN,NaN
2,2001,Allen Iverson,366,allen-iverson,SG,PHI,inactive,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,17,NaN,NaN
3,2002,Allen Iverson,366,allen-iverson,SG,PHI,inactive,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,14,NaN,NaN
4,2003,Allen Iverson,366,allen-iverson,SG,PHI,inactive,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,11,NaN,NaN

name playerId playerSlug 

Mesma coisa, vai ficar name

In [11]:
dfLimpo[col_cat].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8162 entries, 0 to 8161
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           8162 non-null   int64
 1   name           8162 non-null   object
 2   playerId       8162 non-null   int64
 3   playerSlug     8162 non-null   object
 4   positionId     8156 non-null   object
 5   teamId         8162 non-null   object
 6   status         8162 non-null   object
 7   position       8162 non-null   object
 8   birthdate      8162 non-null   object
 9   college        6750 non-null   object
 10  draftinfo      6977 non-null   object
 11  birthplace     7947 non-null   object
 12  team           2304 non-null   object
 13  experience     2304 non-null   object
 14  rankingSalary  8162 non-null   int64
 15  weight         2304 non-null   object
 16  height         2304 non-null   object
dtypes: int64(3), object(14)
memory usage: 1.1+ MB

college	draftinfo	birthplace	team	experience	weight	height

Faltam muitos dados serão tirados

In [12]:
col_cat = [
    'year',
    'name',
    'positionId',
    'teamId',
    'status',
    'position',
    'birthdate',
    'rankingSalary'
]

In [13]:
dfLimpo[col_cat].head()

,year,name,positionId,teamId,status,position,birthdate,rankingSalary
0,1999,Allen Iverson,SG,PHI,inactive,Shooting Guard,6/7/1975,15
1,2000,Allen Iverson,SG,PHI,inactive,Shooting Guard,6/7/1975,27
2,2001,Allen Iverson,SG,PHI,inactive,Shooting Guard,6/7/1975,17
3,2002,Allen Iverson,SG,PHI,inactive,Shooting Guard,6/7/1975,14
4,2003,Allen Iverson,SG,PHI,inactive,Shooting Guard,6/7/1975,11

In [14]:
dfLimpo['status'].value_counts()
# O salario era quando estavam na ativa. Não será preciso nesse caso

inactive    5858
active      2304
Name: status, dtype: int64

In [15]:
dfLimpo[['positionId', 'position']].sample(20)
#  Representam a mesma coisa ficarei com positionId por ser sigla

     positionId        position
6522         SG  Shooting Guard
519          SG  Shooting Guard
6068          F         Forward
3973         PF   Power Forward
35            C          Center
1388         SF   Small Forward
75            C          Center
4779          G           Guard
2900          F         Forward
4518          F         Forward
7377         SF   Small Forward
881          SG  Shooting Guard
1664          C          Center
6370         PG     Point Guard
563          PG     Point Guard
5045          F         Forward
4199          F         Forward
5241          F         Forward
1896          C          Center
6439          F         Forward

In [16]:
dfLimpo['teamId'].value_counts()

CLE     292
BOS     287
SA      286
SAC     285
LAC     284
UTAH    283
POR     283
WSH     280
DAL     279
NY      279
TOR     277
PHI     276
DEN     274
DET     271
MIA     269
MEM     268
GS      267
LAL     266
MIL     265
IND     265
HOU     264
CHI     263
ATL     257
PHX     254
ORL     252
MIN     249
NO      248
CHA     248
OKC     204
NJ      141
BKN     140
SEA      90
VAN      16
Name: teamId, dtype: int64

In [17]:
col_cat = [
    'year',
    'name',
    'positionId',
    'teamId',
    'birthdate',
    'rankingSalary'
]

In [18]:
dfLimpo[col_cat].head()

   year           name positionId teamId birthdate  rankingSalary
0  1999  Allen Iverson         SG    PHI  6/7/1975             15
1  2000  Allen Iverson         SG    PHI  6/7/1975             27
2  2001  Allen Iverson         SG    PHI  6/7/1975             17
3  2002  Allen Iverson         SG    PHI  6/7/1975             14
4  2003  Allen Iverson         SG    PHI  6/7/1975             11

In [19]:
col_cat = [
    'year',
    'name',
    'positionId',
    'teamId'
]

In [20]:
dfLimpo[col_cat].head()

   year           name positionId teamId
0  1999  Allen Iverson         SG    PHI
1  2000  Allen Iverson         SG    PHI
2  2001  Allen Iverson         SG    PHI
3  2002  Allen Iverson         SG    PHI
4  2003  Allen Iverson         SG    PHI

In [21]:
dfCat = dfLimpo[col_cat].copy()

In [22]:
dfCat['year'] = dfCat['year'].astype(str)

In [23]:
dfCat['name - year'] = dfCat[["name", "year"]].apply(" - ".join, axis=1)

In [24]:
dfCat.head()

   year           name positionId teamId           name - year
0  1999  Allen Iverson         SG    PHI  Allen Iverson - 1999
1  2000  Allen Iverson         SG    PHI  Allen Iverson - 2000
2  2001  Allen Iverson         SG    PHI  Allen Iverson - 2001
3  2002  Allen Iverson         SG    PHI  Allen Iverson - 2002
4  2003  Allen Iverson         SG    PHI  Allen Iverson - 2003

In [65]:
col_cat = [
    'positionId',
    'teamId'
]

In [66]:
dfLimpo[col_cat].head()

  positionId teamId
0         SG    PHI
1         SG    PHI
2         SG    PHI
3         SG    PHI
4         SG    PHI

# variáveis Numéricas

In [70]:
col_num = [    
        'gamesPlayed',
        'avgMinutes',
        'avgFouls',
        'flagrantFouls',
        'technicalFouls',
        'ejections',
        'doubleDouble',
        'tripleDouble',
        'minutes',
        'rebounds',
        'fouls',
        'avgRebounds',
        'avgPoints',
        'avgFieldGoalsMade',
        'avgFieldGoalsAttempted',
        'fieldGoalPct',
        'avgThreePointFieldGoalsMade',
        'avgThreePointFieldGoalsAttempted',
        'threePointFieldGoalPct',
        'avgFreeThrowsMade',
        'avgFreeThrowsAttempted',
        'freeThrowPct',
        'avgAssists',
        'avgTurnovers',
        'points',
        'fieldGoalsMade',
        'fieldGoalsAttempted',
        'threePointFieldGoalsMade',
        'threePointFieldGoalsAttempted',
        'freeThrowsMade',
        'freeThrowsAttempted',
        'assists',
        'turnovers',
        'avgSteals',
        'avgBlocks',
        'steals',
        'blocks',
        'salary']

In [71]:
dfLimpo[col_num].head()

,gamesPlayed,avgMinutes,avgFouls,flagrantFouls,technicalFouls,ejections,doubleDouble,tripleDouble,minutes,rebounds,fouls,avgRebounds,avgPoints,avgFieldGoalsMade,avgFieldGoalsAttempted,fieldGoalPct,avgThreePointFieldGoalsMade,avgThreePointFieldGoalsAttempted,threePointFieldGoalPct,avgFreeThrowsMade,avgFreeThrowsAttempted,freeThrowPct,avgAssists,avgTurnovers,points,fieldGoalsMade,fieldGoalsAttempted,threePointFieldGoalsMade,threePointFieldGoalsAttempted,freeThrowsMade,freeThrowsAttempted,assists,turnovers,avgSteals,avgBlocks,steals,blocks,salary
0,48.0,41.458332,2.041667,0.0,5.0,0.0,4.0,0.0,1990.0,236.0,98.0,4.916666,26.750000,9.062500,22.000000,41.193001,1.208333,4.145834,29.145730,7.416666,9.875000,75.105003,4.645834,3.479167,1284.0,435.0,1056.0,58.0,199.0,356.0,474.0,223.0,167.0,2.291667,0.145833,110.0,7.0,9000000.0
1,70.0,40.757140,2.314286,0.0,12.0,0.0,1.0,0.0,2853.0,267.0,162.0,3.814286,28.414286,10.414286,24.757143,42.066002,1.271429,3.728571,34.099618,6.314286,8.857142,71.290001,4.685714,3.285714,1989.0,729.0,1733.0,89.0,261.0,442.0,620.0,328.0,230.0,2.057143,0.071429,144.0,5.0,10125000.0
2,71.0,41.957745,2.070423,0.0,18.0,0.0,4.0,0.0,2979.0,273.0,147.0,3.845070,31.084507,10.732394,25.535212,42.029999,1.380282,4.309859,32.026145,8.239436,10.126760,81.362999,4.577465,3.338028,2207.0,762.0,1813.0,98.0,306.0,585.0,719.0,325.0,237.0,2.507042,0.281690,178.0,20.0,11250000.0
3,60.0,43.700000,1.700000,0.0,12.0,1.0,4.0,1.0,2622.0,269.0,102.0,4.483333,31.383333,11.083333,27.816668,39.844002,1.300000,4.466667,29.104477,7.916666,9.750000,81.196999,5.516667,3.950000,1883.0,665.0,1669.0,78.0,268.0,475.0,585.0,331.0,237.0,2.800000,0.216667,168.0,13.0,12375000.0
4,82.0,42.500000,1.817073,0.0,8.0,0.0,6.0,0.0,3485.0,344.0,149.0,4.195122,27.585365,9.804878,23.658537,41.443001,1.024390,3.695122,27.722773,6.951220,8.975610,77.445999,5.536585,3.487805,2262.0,804.0,1940.0,84.0,303.0,570.0,736.0,454.0,286.0,2.743902,0.158537,225.0,13.0,13500000.0

In [72]:
dfLimpo[col_num].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8162 entries, 0 to 8161
Data columns (total 38 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   gamesPlayed                       8162 non-null   float64
 1   avgMinutes                        8162 non-null   float64
 2   avgFouls                          8162 non-null   float64
 3   flagrantFouls                     8162 non-null   float64
 4   technicalFouls                    8162 non-null   float64
 5   ejections                         8162 non-null   float64
 6   doubleDouble                      8162 non-null   float64
 7   tripleDouble                      8162 non-null   float64
 8   minutes                           8162 non-null   float64
 9   rebounds                          8162 non-null   float64
 10  fouls                             8162 non-null   float64
 11  avgRebounds                       8162 non-null   float64
 12  avgPoints                         8162 non-null   float64
 13  avgFieldGoalsMade                 8162 non-null   float64
 14  avgFieldGoalsAttempted            8162 non-null   float64
 15  fieldGoalPct                      8162 non-null   float64
 16  avgThreePointFieldGoalsMade       8162 non-null   float64
 17  avgThreePointFieldGoalsAttempted  8162 non-null   float64
 18  threePointFieldGoalPct            8162 non-null   float64
 19  avgFreeThrowsMade                 8162 non-null   float64
 20  avgFreeThrowsAttempted            8162 non-null   float64
 21  freeThrowPct                      8162 non-null   float64
 22  avgAssists                        8162 non-null   float64
 23  avgTurnovers                      8162 non-null   float64
 24  points                            8162 non-null   float64
 25  fieldGoalsMade                    8162 non-null   float64
 26  fieldGoalsAttempted               8162 non-null   float64
 27  threePointFieldGoalsMade          8162 non-null   float64
 28  threePointFieldGoalsAttempted     8162 non-null   float64
 29  freeThrowsMade                    8162 non-null   float64
 30  freeThrowsAttempted               8162 non-null   float64
 31  assists                           8162 non-null   float64
 32  turnovers                         8162 non-null   float64
 33  avgSteals                         8162 non-null   float64
 34  avgBlocks                         8162 non-null   float64
 35  steals                            8162 non-null   float64
 36  blocks                            8162 non-null   float64
 37  salary                            8162 non-null   float64
dtypes: float64(38)
memory usage: 2.4 MB

In [73]:
dfNumerico = dfLimpo[col_num].copy()

In [74]:
corr_matrix = dfNumerico.corr()

In [81]:
corr_matrix['salary']

gamesPlayed                         0.218112
avgMinutes                          0.546872
avgFouls                            0.299529
flagrantFouls                       0.125905
technicalFouls                      0.350151
ejections                           0.150203
doubleDouble                        0.451649
tripleDouble                        0.282489
minutes                             0.445531
rebounds                            0.432619
fouls                               0.283894
avgRebounds                         0.470315
avgPoints                           0.663278
avgFieldGoalsMade                   0.654786
avgFieldGoalsAttempted              0.623984
fieldGoalPct                        0.173089
avgThreePointFieldGoalsMade         0.408205
avgThreePointFieldGoalsAttempted    0.414172
threePointFieldGoalPct              0.134676
avgFreeThrowsMade                   0.578352
avgFreeThrowsAttempted              0.569542
freeThrowPct                        0.197848
avgAssists                          0.474230
avgTurnovers                        0.547378
points                              0.583561
fieldGoalsMade                      0.574301
fieldGoalsAttempted                 0.546904
threePointFieldGoalsMade            0.389377
threePointFieldGoalsAttempted       0.397884
freeThrowsMade                      0.529688
freeThrowsAttempted                 0.521237
assists                             0.439636
turnovers                           0.493262
avgSteals                           0.397366
avgBlocks                           0.257106
steals                              0.370947
blocks                              0.263263
salary                              1.000000
Name: salary, dtype: float64

In [84]:
corr_matrix['salary'].sort_values(ascending=False)[:13]

salary                    1.000000
avgPoints                 0.663278
avgFieldGoalsMade         0.654786
avgFieldGoalsAttempted    0.623984
points                    0.583561
avgFreeThrowsMade         0.578352
fieldGoalsMade            0.574301
avgFreeThrowsAttempted    0.569542
avgTurnovers              0.547378
fieldGoalsAttempted       0.546904
avgMinutes                0.546872
freeThrowsMade            0.529688
freeThrowsAttempted       0.521237
Name: salary, dtype: float64

In [85]:
col_num = [
    'salary',
    'avgPoints',
    'avgFieldGoalsMade',
    'avgFieldGoalsAttempted',
    'points',
    'avgFreeThrowsMade',
    'fieldGoalsMade',
    'avgFreeThrowsAttempted',
    'avgTurnovers',
    'fieldGoalsAttempted',
    'avgMinutes',
    'freeThrowsMade',
    'freeThrowsAttempted'
]

In [86]:
dfNumerico[col_num].head()

,salary,avgPoints,avgFieldGoalsMade,avgFieldGoalsAttempted,points,avgFreeThrowsMade,fieldGoalsMade,avgFreeThrowsAttempted,avgTurnovers,fieldGoalsAttempted,avgMinutes,freeThrowsMade,freeThrowsAttempted
0,9000000.0,26.750000,9.062500,22.000000,1284.0,7.416666,435.0,9.875000,3.479167,1056.0,41.458332,356.0,474.0
1,10125000.0,28.414286,10.414286,24.757143,1989.0,6.314286,729.0,8.857142,3.285714,1733.0,40.757140,442.0,620.0
2,11250000.0,31.084507,10.732394,25.535212,2207.0,8.239436,762.0,10.126760,3.338028,1813.0,41.957745,585.0,719.0
3,12375000.0,31.383333,11.083333,27.816668,1883.0,7.916666,665.0,9.750000,3.950000,1669.0,43.700000,475.0,585.0
4,13500000.0,27.585365,9.804878,23.658537,2262.0,6.951220,804.0,8.975610,3.487805,1940.0,42.500000,570.0,736.0