In [4]:
import pandas as pd

## Pagamento Pedido

In [5]:
pathOrderPayments = 'data_inicial/olist_order_payments_dataset.csv'
pathPagamentoPedido = 'data/pagamento_pedido.csv'

In [77]:
pagamentos = pd.read_csv(pathOrderPayments)

In [78]:
pagamentos.head(15)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
5,298fcdf1f73eb413e4d26d01b25bc1cd,1,credit_card,2,96.12
6,771ee386b001f06208a7419e4fc1bbd7,1,credit_card,1,81.16
7,3d7239c394a212faae122962df514ac7,1,credit_card,3,51.84
8,1f78449c87a54faf9e96e88ba1491fa9,1,credit_card,6,341.09
9,0573b5e23cbd798006520e1d5b4c6714,1,boleto,1,51.95
10,d88e0d5fa41661ce03cf6cf336527646,1,credit_card,8,188.73
11,2480f727e869fdeb397244a21b721b67,1,credit_card,1,141.90
12,616105c9352a9668c38303ad44e056cd,1,credit_card,1,75.78
13,cf95215a722f3ebf29e6bbab87a29e61,1,credit_card,5,102.66
14,769214176682788a92801d8907fa1b40,1,credit_card,4,105.28

In [79]:
pagamentos = pagamentos.rename(columns={'order_id': 'idPedido', 'payment_sequential': 'idPagamentoPedido', 
                                       'payment_type': 'descTipoPagamento', 'payment_installments': 'nrParcelas',
                                       'payment_value': 'vlPagamento'})

In [80]:
pagamentos.to_csv(pathPagamentoPedido, index = False, encoding = 'utf-8')

## Pedido

In [81]:
pathOrders = 'data_inicial/olist_orders_dataset.csv'
pathPedido = 'data/pedido.csv'

In [104]:
pedido = pd.read_csv(pathOrders)

In [105]:
pedido.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [106]:
pedido = pedido.rename(columns={'order_id': 'idPedido', 'customer_id': 'idCliente', 'order_status': 'descSituacao',
                                'order_purchase_timestamp': 'dtPedido', 'order_approved_at': 'dtAprovado',
                                'order_delivered_carrier_date': 'dtEnvio', 'order_delivered_customer_date': 'dtEntrega',
                                'order_estimated_delivery_date': 'dtEntregaEstimada'})

In [107]:
pedido.to_csv(pathPedido, index = False, encoding = 'utf-8')

In [108]:
pedido['dtPedido'] = pd.to_datetime(pedido['dtPedido'])#.dt.date

In [109]:
pedido[['dtPedido', 'dtAprovado', 'dtEnvio', 'dtEntrega', 'dtEntregaEstimada']].head()

,dtPedido,dtAprovado,dtEnvio,dtEntrega,dtEntregaEstimada
0,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [119]:
dtPedido = pedido.loc[(pedido['dtPedido'] >= '2017-07-01') & (pedido['dtPedido'] < '2018-01-01')]

In [120]:
dtPedido.head()

,idPedido,idCliente,descSituacao,dtPedido,dtAprovado,dtEnvio,dtEntrega,dtEntregaEstimada
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
5,a4591c265e18cb1dcee52889e2d8acc3,503740e9ca751ccdda7ba28e9ab8f608,delivered,2017-07-09 21:57:05,2017-07-09 22:10:13,2017-07-11 14:58:04,2017-07-26 10:57:55,2017-08-01 00:00:00
9,e69bfb5eb88e0ed6a785585b27e16dbf,31ad1d1b63eb9962463f764d4e6e0c9d,delivered,2017-07-29 11:55:02,2017-07-29 12:05:32,2017-08-10 19:45:24,2017-08-16 17:14:30,2017-08-23 00:00:00
11,34513ce0c4fab462a55830c0989c7edb,7711cf624183d843aafe81855097bc37,delivered,2017-07-13 19:58:11,2017-07-13 20:10:08,2017-07-14 18:43:29,2017-07-19 14:04:48,2017-08-08 00:00:00

## Utilizar Pyplot

In [123]:
dfPagamentosPedido = pd.merge(dtPedido, pagamentos, left_on='idPedido', right_on='idPedido', how='left')

In [124]:
dfPagamentosPedido.head()

,idPedido,idCliente,descSituacao,dtPedido,dtAprovado,dtEnvio,dtEntrega,dtEntregaEstimada,idPagamentoPedido,descTipoPagamento,nrParcelas,vlPagamento
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,credit_card,1,18.12
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3,voucher,1,2.00
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2,voucher,1,18.59
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,1,credit_card,1,72.20
4,a4591c265e18cb1dcee52889e2d8acc3,503740e9ca751ccdda7ba28e9ab8f608,delivered,2017-07-09 21:57:05,2017-07-09 22:10:13,2017-07-11 14:58:04,2017-07-26 10:57:55,2017-08-01 00:00:00,1,credit_card,6,175.26

In [118]:
#dfPagamentosPedido = dfPagamentosPedido.groupby('dtPedido')['dtPedido'].count()

In [ ]:
#dtPedido = pedido.groupby('dtPedido')['dtPedido'].count()

## Item Pedido

In [125]:
pathOrderItems = 'data_inicial/olist_order_items_dataset.csv'
pathItemPedido = 'data/itemPedido.csv'

In [126]:
itemPedido = pd.read_csv(pathOrderItems)

In [127]:
itemPedido.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [128]:
itemPedido = itemPedido.rename(columns={'order_id': 'idPedido', 'order_item_id': 'idPedidoItem', 'product_id': 'idProduto',
                                        'seller_id': 'idVendedor', 'shipping_limit_date': 'shipping_limit_date',
                                        'price': 'preco', 'freight_value': 'valor'})

In [129]:
itemPedido.head()

,idPedido,idPedidoItem,idProduto,idVendedor,shipping_limit_date,preco,valor
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [130]:
itemPedido.to_csv(pathItemPedido, index = False, encoding = 'utf-8')