In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/points_tmw.csv")

In [3]:
df.head()

,idTransacao,idUsuario,dtTransacao,qtdPontos,diffMedia,descProduto,descCategoriaProduto,DataTransacao
0,83d52c4a-8585-4896-bbf3-9d9c9e885f7f,c4ade77c-f395-4d22-93c3-7a8031df9c6f,2024-11-08 12:34:58,1,"17,15119396",ChatMessage,chat,08/11/2024
1,64feebd3-70d1-42f5-ba90-3d89e12b7e98,65662aff-44d6-4f06-b9d9-07445c6e5943,2024-01-31 12:02:10,1,"17,15119396",ChatMessage,chat,31/01/2024
2,e242114e-3cb1-41a0-b16b-d7ecb04365c9,a7649e0c-92dd-42fe-bb36-d6f0aaaa8638,2024-03-26 12:34:32,1,"17,15119396",ChatMessage,chat,26/03/2024
3,35f3adc9-9d9b-464b-8c53-c96537b2f573,1856963a-84cb-453e-a139-eb7d8d9b3255,2024-12-10 11:36:37,50,"2012,293994",Lista de presença,present,10/12/2024
4,8cd5864e-401d-4e84-be85-af90bc3f7feb,65662aff-44d6-4f06-b9d9-07445c6e5943,2024-05-23 11:50:09,1,"17,15119396",ChatMessage,chat,23/05/2024

In [5]:
pd.value_counts(df['descProduto'])

ChatMessage                                   4141
Lista de presença                              642
Churn_2pp                                       36
Presença Streak                                 33
Resgatar Ponei                                  32
Churn_5pp                                       32
Churn_10pp                                      31
Troca de Pontos StreamElements                  28
Daily Loot                                      18
Venda de Item: 7 - Capacete de Ferro (400)       6
Airflow Lover                                    1
Name: descProduto, dtype: int64

In [6]:
df.groupby(['descProduto'])['idTransacao'].count()

descProduto
Airflow Lover                                    1
ChatMessage                                   4141
Churn_10pp                                      31
Churn_2pp                                       36
Churn_5pp                                       32
Daily Loot                                      18
Lista de presença                              642
Presença Streak                                 33
Resgatar Ponei                                  32
Troca de Pontos StreamElements                  28
Venda de Item: 7 - Capacete de Ferro (400)       6
Name: idTransacao, dtype: int64

In [10]:
df.groupby(['descProduto'])[['idTransacao']].count()

                                            idTransacao
descProduto
Airflow Lover                                         1
ChatMessage                                        4141
Churn_10pp                                           31
Churn_2pp                                            36
Churn_5pp                                            32
Daily Loot                                           18
Lista de presença                                   642
Presença Streak                                      33
Resgatar Ponei                                       32
Troca de Pontos StreamElements                       28
Venda de Item: 7 - Capacete de Ferro (400)            6

## Frequencia dos produtos

In [ ]:
df_freq_produto = df.groupby(['descProduto'])[['idTransacao']].count()

In [9]:
df_freq_produto

                                            idTransacao
descProduto
Airflow Lover                                         1
ChatMessage                                        4141
Churn_10pp                                           31
Churn_2pp                                            36
Churn_5pp                                            32
Daily Loot                                           18
Lista de presença                                   642
Presença Streak                                      33
Resgatar Ponei                                       32
Troca de Pontos StreamElements                       28
Venda de Item: 7 - Capacete de Ferro (400)            6

In [13]:
df_freq_produto['freq_abs_acum'] = df_freq_produto['idTransacao'].cumsum()

In [14]:
df_freq_produto

                                            idTransacao  freq_abs_acum
descProduto
Airflow Lover                                         1              1
ChatMessage                                        4141           4142
Churn_10pp                                           31           4173
Churn_2pp                                            36           4209
Churn_5pp                                            32           4241
Daily Loot                                           18           4259
Lista de presença                                   642           4901
Presença Streak                                      33           4934
Resgatar Ponei                                       32           4966
Troca de Pontos StreamElements                       28           4994
Venda de Item: 7 - Capacete de Ferro (400)            6           5000

In [15]:
df_freq_produto['freq_relativa'] = df_freq_produto['idTransacao']/df_freq_produto['idTransacao'].sum()

In [16]:
df_freq_produto

,idTransacao,freq_abs_acum,freq_relativa
descProduto,,,
Airflow Lover,1,1,0.0002
ChatMessage,4141,4142,0.8282
Churn_10pp,31,4173,0.0062
Churn_2pp,36,4209,0.0072
Churn_5pp,32,4241,0.0064
Daily Loot,18,4259,0.0036
Lista de presença,642,4901,0.1284
Presença Streak,33,4934,0.0066
Resgatar Ponei,32,4966,0.0064
Troca de Pontos StreamElements,28,4994,0.0056
Venda de Item: 7 - Capacete de Ferro (400),6,5000,0.0012

In [19]:
df_freq_produto['freq_relativa_acum'] = df_freq_produto['freq_relativa'].cumsum()

In [20]:
df_freq_produto

,idTransacao,freq_abs_acum,freq_relativa,freq_relativa_acum
descProduto,,,,
Airflow Lover,1,1,0.0002,0.0002
ChatMessage,4141,4142,0.8282,0.8284
Churn_10pp,31,4173,0.0062,0.8346
Churn_2pp,36,4209,0.0072,0.8418
Churn_5pp,32,4241,0.0064,0.8482
Daily Loot,18,4259,0.0036,0.8518
Lista de presença,642,4901,0.1284,0.9802
Presença Streak,33,4934,0.0066,0.9868
Resgatar Ponei,32,4966,0.0064,0.9932
Troca de Pontos StreamElements,28,4994,0.0056,0.9988
Venda de Item: 7 - Capacete de Ferro (400),6,5000,0.0012,1.0000

In [21]:
df.head()

,idTransacao,idUsuario,dtTransacao,qtdPontos,diffMedia,descProduto,descCategoriaProduto,DataTransacao
0,83d52c4a-8585-4896-bbf3-9d9c9e885f7f,c4ade77c-f395-4d22-93c3-7a8031df9c6f,2024-11-08 12:34:58,1,"17,15119396",ChatMessage,chat,08/11/2024
1,64feebd3-70d1-42f5-ba90-3d89e12b7e98,65662aff-44d6-4f06-b9d9-07445c6e5943,2024-01-31 12:02:10,1,"17,15119396",ChatMessage,chat,31/01/2024
2,e242114e-3cb1-41a0-b16b-d7ecb04365c9,a7649e0c-92dd-42fe-bb36-d6f0aaaa8638,2024-03-26 12:34:32,1,"17,15119396",ChatMessage,chat,26/03/2024
3,35f3adc9-9d9b-464b-8c53-c96537b2f573,1856963a-84cb-453e-a139-eb7d8d9b3255,2024-12-10 11:36:37,50,"2012,293994",Lista de presença,present,10/12/2024
4,8cd5864e-401d-4e84-be85-af90bc3f7feb,65662aff-44d6-4f06-b9d9-07445c6e5943,2024-05-23 11:50:09,1,"17,15119396",ChatMessage,chat,23/05/2024

## Descrição de categoria

In [22]:
df_desc_categoria_produto = df.groupby('descCategoriaProduto')[['idTransacao']].count()

In [23]:
df_desc_categoria_produto

                      idTransacao
descCategoriaProduto
chat                         4141
churn_model                    99
lovers                          1
ponei                          32
present                       675
rpg                            24
streamelements                 28

In [25]:
df_desc_categoria_produto['freq_abs_acum'] = df_desc_categoria_produto['idTransacao'].cumsum()

In [26]:
df_desc_categoria_produto

                      idTransacao  freq_abs_acum
descCategoriaProduto
chat                         4141           4141
churn_model                    99           4240
lovers                          1           4241
ponei                          32           4273
present                       675           4948
rpg                            24           4972
streamelements                 28           5000

In [27]:
df_desc_categoria_produto['freq_rel'] = df_desc_categoria_produto['idTransacao']/df_desc_categoria_produto['idTransacao'].sum()

In [28]:
df_desc_categoria_produto

                      idTransacao  freq_abs_acum  freq_rel
descCategoriaProduto
chat                         4141           4141    0.8282
churn_model                    99           4240    0.0198
lovers                          1           4241    0.0002
ponei                          32           4273    0.0064
present                       675           4948    0.1350
rpg                            24           4972    0.0048
streamelements                 28           5000    0.0056

In [29]:
df_desc_categoria_produto['freq_rel_acum'] = df_desc_categoria_produto['freq_rel'].cumsum()

In [30]:
df_desc_categoria_produto

                      idTransacao  freq_abs_acum  freq_rel  freq_rel_acum
descCategoriaProduto
chat                         4141           4141    0.8282         0.8282
churn_model                    99           4240    0.0198         0.8480
lovers                          1           4241    0.0002         0.8482
ponei                          32           4273    0.0064         0.8546
present                       675           4948    0.1350         0.9896
rpg                            24           4972    0.0048         0.9944
streamelements                 28           5000    0.0056         1.0000