In [1]:
import pandas as pd

In [2]:
dataframe_questao_1 = pd.read_csv("bases/questao1_coronavirus.csv", delimiter=";")

Usaremos como base de informação o site 
https://brasil.io/dataset/covid19/boletim/
que tem a siguinte documentação:

date: data de coleta dos dados no formato YYYY-MM-DD.

state: sigla da unidade federativa, exemplo: SP.

city: nome do município (pode estar em branco quando o registro é referente ao estado, pode ser preenchido com Importados/Indefinidos também).

new_confirmed: número de novos casos confirmados desde o último dia (note que caso is_repeated seja True, esse valor sempre será 0 e que esse valor pode ser negativo caso a SES remaneje os casos desse município para outro).

new_deaths: número de novos óbitos desde o último dia (note que caso is_repeated seja True, esse valor sempre será 0 e que esse valor pode ser negativo caso a SES remaneje os casos desse município para outro).

estimated_population_2019: população estimada para esse município/estado em 2019, segundo o IBGE (acesse o script que faz o download e conversão dos dados de população).

In [3]:
dataframe_questao_1.sample(10)

,date,state,city,new_confirmed,new_deaths,estimated_population_2019
78661,2020-06-05,RN,São Miguel,0,0,23519.0
111049,2020-05-28,MA,Governador Archer,17,0,10840.0
174483,2020-05-10,CE,Acopiara,0,0,54270.0
148129,2020-05-19,SP,Manduri,2,0,9846.0
115318,2020-05-27,MG,Brasília de Minas,0,0,32347.0
60032,2020-06-09,PI,Socorro do Piauí,0,0,4569.0
136987,2020-05-22,SE,Amparo de São Francisco,0,0,2374.0
143473,2020-05-20,PR,Loanda,0,0,23086.0
163641,2020-05-14,PI,Pedro II,1,0,38742.0
39459,2020-06-13,ES,Baixo Guandu,1,0,30998.0

In [4]:
dataframe_questao_1.shape

(240649, 6)

In [12]:
def estado(valor):
    estados = dataframe_questao_1.drop("city", 1)
    df_estado = estados.loc[estados.state==valor, :]
    df_estado = df_estado.groupby('date').sum()
    df_estado[['new_confirmed','new_deaths']] = df_estado[['new_confirmed','new_deaths']].cumsum()
    return df_estado

In [13]:
teste = estado("SP")
teste.head(10)

            new_confirmed  new_deaths  estimated_population_2019
date
2020-02-25              1           0                 12252023.0
2020-02-26              1           0                 12252023.0
2020-02-27              1           0                 12252023.0
2020-02-28              2           0                 12252023.0
2020-02-29              2           0                 12252023.0
2020-03-01              2           0                 12252023.0
2020-03-02              2           0                 12252023.0
2020-03-03              2           0                 12252023.0
2020-03-04              3           0                 12252023.0
2020-03-05              7           0                 12436435.0

In [8]:
teste =teste['2020-02-27' :'2020-03-02']

In [9]:
teste.head(10)

            new_confirmed  new_deaths  estimated_population_2019
date
2020-02-27              1           0                 12252023.0
2020-02-28              2           0                 12252023.0
2020-02-29              2           0                 12252023.0
2020-03-01              2           0                 12252023.0
2020-03-02              2           0                 12252023.0